

.text, .image, .block {
    width:14em;
    height:8em;
    margin:0.5em;
    border:thick solid;
    background:#fff;
}

.text {
    border-color: #99f;
}

.image {
    border-color: #f99;
}

.image img {
    width: 50px;
    height: 50px;
}

.block {
    border-color: #ff4
}

.block {
    line-height: 8em;
}

.block div {
    display: inline;
    display: inline-table;
    display: inline-block;
    vertical-align: middle;
}